{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "quotes": [
      1,
      "single"
    ],
    "no-mixed-requires": [
      0,
      false
    ],
    "no-underscore-dangle": 0,
    "yoda": [
      1,
      "always"
    ],
    "indent": [
      2,
      2,
      {"SwitchCase": 1}
    ],
    "brace-style": [
      2,
      "1tbs"
    ],
    "comma-style": [
      2,
      "last"
    ],
    "default-case": 2,
    "func-style": [
      2,
      "declaration"
    ],
    "guard-for-in": 2,
    "no-floating-decimal": 2,
    "no-nested-ternary": 2,
    "no-undefined": 2,
    "radix": 2,
    "space-before-function-paren": [
      1,
      "always"
    ],
    "space-after-keywords": [
      2,
      "always"
    ],
    "space-before-blocks": 2,
    "spaced-comment": [
      2,
      "always",
      {
        "exceptions": [
          "-"
        ],
        "markers": [
          "eslint",
	  "jshint",
          "global"
         ]
      }
    ],
    "strict": [
      2,
      "global"
    ],
    "wrap-iife": 2,
    "camelcase": 0,
    "new-cap": 0
  }
}
