name: MQTT.js Tests

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Debug Filter'     
        required: true
        default: 'mqttjs*'
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci
    
    - name: Lint
      if: matrix.node-version == '20.x'
      # only run on latest node version, no reason to run on all
      run: |
        npm run lint

    - name: Test NodeJS
      run: npx mocha test/unique_message_id_provider_client.js -g "auto reconnect"
      env:
        CI: true
        DEBUG: "mqttjs"

    - name: Test Typescript
      run: npm run test:typescript
      env:
        CI: true
        DEBUG: "mqttjs"
    
    - name: Test Browser
      if: matrix.node-version == '20.x'
      # only run on latest node version, no reason to run on all
      timeout-minutes: 2
      run: |
        npm run browser-build
        npm run unit-test:browser
  


