name: MQTT.js Tests

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Debug Filter'     
        required: true
        default: 'mqttjs*'
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Test Browser
      timeout-minutes: 2
      run: |
        npm run browser-build
        npm run unit-test:browser -- --silly

    - name: Test NodeJS
      run: npm run test:node
      env:
        CI: true
        DEBUG: "mqttjs"

    - name: Test Typescript
      run: npm run test:typescript
      env:
        CI: true
        DEBUG: "mqttjs"


